@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
}
.text-dark {
  color: #3C3C3C;
}
.padding0 {
  padding: 0;
}
.padding16 {
  padding: 0.2em;
}

.font-size3 {
  font-size: 2em;
  font-weight: 400;
}
.width100 {
  width: 100%;
}
.width90 {
  width: 85%;
}

.bordernone {
  border: none;
}
.border1px {
  border: 1px solid #3C3C3C;
}

.bg-custom {
  background-color: #3C3C3C;
  border: 3px solid #3C3C3C;
}

.container {
  max-width: 500px;
  margin: 100px auto;
}

select {
  border: none;
  background: transparent;
  /*background-color: blue;*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-top: 0px;
  background-size: 20px;
  color: #ffffff;
  font-size: 1em;
}

input {
  overflow-x: auto;
}

.hide{
  display: none;
}

.avail {
  display: block;
}

.dark {
  background-color: #3C3C3C;
}

select option {
  background-color: #3C3C3C;
  color: #fff;
}

.fa-chevron-circle-down {
  text-align: center;
  width: 10%;
  color: #fff;
  font-size: 1em;
}

.footer {
  margin-top: -10px;
  font-family: "Courier New", Courier, monospace;
  font-size: x-small;
  padding: 0.2em;
  color: #fff;
  background-color: #3C3C3C;
}

@media (max-width: 375px) {
  .container {
    margin: 50px auto;
  }
}

@media (min-width: 576px) {
  .container {
    margin: 135px auto;
  }
}

@media (min-width: 768px) {
  .container {
    margin: 135px auto;
  }
}
@media (min-width: 992px) {
  .container {
    margin: 135px auto;
  }
}

@media (min-width: 1200px) {
  .container {
    margin: 135px auto;
  }
}